p {
      color: rgb(8, 8, 8);
    }
    
    body {
      background-color: rgb(243, 241, 229);
    }
    
    h1 {
      font-size: 2em;
      color: rgb(8, 8, 8)
    }
    div {
      padding: 20px;
      margin: 10px;
    }
.responsive-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .column {
      flex: 1;
      padding: 10px;
    }
    
    @media (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }
    .responsive-image {
      max-width: 100%;
      height: auto;
    }
    .filter-image {
      size: 500px 500px;
    }
    .media-query-box {
      padding: 20px;
      text-align: center;
    }
    
    @media (max-width: 600px) {
      .media-query-box {
        background-color: lightcoral;
      }
    }
    
    @media (min-width: 601px) {
      .media-query-box {
        background-color: lightblue;
      }
    }
    .responsive-nav .nav-list {
      display: flex;
      list-style: none;
    }
    .responsive-nav .menu-toggle {
      display: none;
        }
    
    @media (max-width: 600px) {
      .responsive-nav .nav-list {
        display: none;
      }
    
      .responsive-nav .menu-toggle {
        display: block;
      }
    }
