.container-fluid {
    margin-top: 10px;
}

.header-area {
    height: 80px;
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
body {
    background-image: url(C:/Users/Omistaja/WEBSIVUSTO/WEBSIVUSTON_KEHITTAMINEN_LAUREA/WS07_projektityö/images/betoniseinä.png);
    background-size: cover;
    background-attachment: fixed;
}
