.container-fluid {
    margin-top: 10px;
}
body {
    background-image: url(C:/Users/Omistaja/WEBSIVUSTO/WEBSIVUSTON_KEHITTAMINEN_LAUREA/WS07_projektityö/images/betoniseinä.png);
    background-size: cover;
    background-attachment: fixed;
}
.header-wrapper {
  background-color: #fefefd;
  width: 100%;
}
.navbar {
    font-family: 'Lexend Mega', 'Inter', 'Poppins', Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
footer {
    background-color: #fefefd;
    text-align: center;
    padding: 10px;
    font-family: 'Lexend Mega', 'Inter', 'Poppins', Arial, Helvetica, sans-serif;
}
.footer-custom {
  background-color: #fefefd;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  padding: 20px 0;
}

.footer-custom a {
  color: #000;
  text-decoration: none;
}

.footer-custom a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.footer-section {
  min-width: 100px;
}

.social-links a {
  display: block;
  margin-bottom: 5px;
}
.footer-section social-links {
    display:flex
}

.col-8 px-2 {
    background-color: #fefefd;  
    padding: 10px;
    border-radius: 5px;
}
.container d-flex align-items-center justify-content-between {
    width: 100%;
}
@media (max-width: 600px) {
    .roundedfloat-start {
        width: 100%;
    }     
}  
.roundedfloat-start {
    float: left;
    border: 2px solid;
   border-radius: 10%;
   border-color: rgb(5, 5, 5);
}
@media (min-width: 601px) {
    .roundedfloat-start {
        width: 450px;
    }     
}  
