.container-fluid {
    margin-top: 10px;
}
body {
    background-image: url(C:/Users/Omistaja/WEBSIVUSTO/WEBSIVUSTON_KEHITTAMINEN_LAUREA/WS07_projektityö/images/betoniseinä.png);
    background-size: cover;
    background-attachment: fixed;
}
.header-wrapper {
  background-color: #fefefd;
  width: 100%;
}
.navbar {
    font-family: 'Lexend Mega', 'Inter', 'Poppins', Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
footer {
    background-color: #fefefd;
    text-align: center;
    padding: 10px;
    font-family: 'Lexend Mega', 'Inter', 'Poppins', Arial, Helvetica, sans-serif;
}
.footer-custom {
  background-color: #fefefd;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  padding: 20px 0;
}

.footer-custom a {
  color: #000;
  text-decoration: none;
}

.footer-custom a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.footer-section {
  min-width: 100px;
}

.social-links a {
  display: block;
  margin-bottom: 5px;
}
.footer-section social-links {
    display:flex
}

.keskibox {
    background-color: #fefefd;  
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.keskibox {
    background-color: rgba(255, 255, 255, 0.5); 
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}


.roundedfloat-start {
    border: 2px solid rgb(5,5,5);
    border-radius: 5%;
    object-fit: cover;
}
.ajanvaraus-btn {
    border: 2px solid black; 
}
.liike-kuva {
    border: 20px solid black; 
    border-radius: 5%;
}
.keskibox p {
    font-family: Arial, sans-serif;  
    font-size: 16px;                 
    line-height: 1.5;                
    color: #000;                      
}
.keskibox h2 {
    font-family: 'Lexend Mega', 'Inter', 'Poppins', Arial, Helvetica, sans-serif; 
    font-size: 24px;                
    color: #333;                    
    margin-bottom: 10px;           
}
.ajanvaraus-btn {
  white-space: nowrap;  /* ei rivity */
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
}
@media (max-width: 576px) {
  .col-left {
    justify-content: center;  /* painike keskelle pystyssä */
    margin-bottom: 0.5rem;
  }
}