p {
      color: rgb(8, 8, 8);
    }
    
    body {
      background-color: rgb(243, 241, 229);
    }
    
    h1 {
      font-size: 2em;
      color: rgb(8, 8, 8)
    }
    div {
      padding: 20px;
      margin: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #050505;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #d8d1b6;
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #080808;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #cfc2ac;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    #linkki {
      color: rgb(125, 124, 112);
      text-decoration: none;
      background-color: ghostwhite;
      border: #050505 solid 1px;
      padding: 8px;
      border-radius: 10px;
      margin: 20px;
    }

    #tea {
      border-radius: 15px;
      border: #050505 solid 2px;
      margin: 20px 0px;
    }